<div>
  <h2>User info</h2>
  <table class="table">
    <tr>
      <td>
        <%= image_tag user.get_profile_image(100,100) %>
      </td>
    </tr>
    <tr>
      <td>Name</td>
      <td><%= user.name %></td>
    </tr>
    <tr>
      <td>Introduction</td>
      <td><%= user.introduction %></td>
    </tr>
  </table>
  <% unless user.guest_user? %>
    <%= link_to(edit_user_path(user.id)) do %>
      <button class="btn btn-secondary btn-lg">
        <i class="fa-solid fa-user-gear mx-auto"></i>
      </button>
    <% end %>
  <% end %>


</div>
