<div>
  <p>Title: <%= @book.title %></p>
  <p>Opinion: <%= @book.body %></p>
  <% if @book.user == current_user %>
    <%= link_to "edit", edit_book_path(@book) %>
    <%= link_to "destroy", book_path(@book), method: :delete %>
  <% end %>
</div>